<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon/text/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Goodbedford</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">goodbedford.com</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class=""><a href="../index.html">blog</a></li>
                <li class=""><a href="https://github.com/goodbedford">github</a></li>
                <li class=""><a href="https://www.linkedin.com/in/goodbedford">Linkedin</a></li>
                <li class=""><a href="projects.html">Projects</a></li>
                <li class="active"><a href="community.html">Community</a></li>

        <!--        <li><a href="#">resources</a></li>
                <li><a href="#">blog-raps</a></li>
        -->
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">
       
    </div>


<script src="../js/bootstrap.js"></script>
<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/script.js"></script>

</body>
</html>