<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon/text/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Goodbedford</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">goodbedford.com</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class=""><a href="../index.html">blog</a></li>
                <li class=""><a href="https://github.com/goodbedford">github</a></li>
                <li class=""><a href="https://www.linkedin.com/in/goodbedford">Linkedin</a></li>
                <li class=""><a href="projects.html">Projects</a></li>
                <li class="active"><a href="community.html">Community</a></li>

        <!--        <li><a href="#">resources</a></li>
                <li><a href="#">blog-raps</a></li>
        -->
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">
       <div>
        <h3>Node School SF</h3>
        <p>I have been attending and contribuiting to Node School SF for a year. I truly enjoy the organizers and attendees at this open source
           project. It has been my pleasure to be a contributor.
        </p>
        <a href="http://nodeschool.io/sanfrancisco/">Node School SF</a>
       </div>
        <h3>General Assembly</h3>
        <p>I am a GA alumni and participate in most of their many activies. Whether it is helping with evangalising about the program,
           going to meet and greets, or quartley parties you can find me there.
        </p>
        <a href="https://generalassemb.ly/">General Assembly</a>
       </div>  
    </div>


<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/script.js"></script>

</body>
</html>