<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../img/favicon/text/favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <title>Goodbedford</title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">goodbedford.com</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class=""><a href="../index.html">Blog</a></li>
          <li class=""><a href="https://github.com/goodbedford">github</a></li>
          <li class=""><a href="https://www.linkedin.com/in/goodbedford">Linkedin</a></li>
          <li class="active"><a href="projects.html">Projects</a></li>
          <li class=""><a href="community.html">Community</a></li>
          <!--        <li><a href="#">resources</a></li>
                <li><a href="#">blog-raps</a></li>
        -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-sm-offset-1 header">Projects</h1>
    </div>
    <div class="row project-row">
      <div class="col-sm-10 col-sm-offset-1">
        <!-- project -->
        <div class="col-sm-4 project-container">
          <div class="row media">
            <div class="media-left">
              <a href="h​ttp://www.ootd-demo.herokuapp.com/" class="project-link">
                <img src="../img/projects/ootd/ootd-screenshot.jpg" alt="logo image" class="project-img media-object">
                <div class="project-title">#OOTD</div>
              </a>
            </div>
          </div>
          <div class="row">
            <ul class="project-li">
              <li>Mobile first application that has RESTful API built with Javascript, Node and Express. Demonstrates ability to use third-party APIs (Instragram) and NoSQL database (Mongo DB) and have favorite button feature.
              </li>
              <li><a href="h​ttp://www.ootd-demo.herokuapp.com" class="project-link"> h​ttps://ootd-demo.herokuapp.com/</a></li>
              <li>Stack:</li>
              <li>html, css, javascript, node, express, ejs, jquery, mongo, mongoose, instagram api, heroku</li>
            </ul>
          </div>
        </div>
        <!-- project solemate -->
        <div class="col-sm-4 project-container">
          <div class="row media">
            <div class="media-left">
              <a href="https://solemate-demo.herokuapp.com/" class="project-link">
                <img src="../img/projects/solemate/solemate-screenshot.jpg" alt="logo image" class="project-img media-object">
                <div class="project-title">Sole Mate</div>
              </a>
            </div>
          </div>
          <div class="row">
            <ul class="project-li">
              <li>Restful API for social shoe shopping. The idea is there are a lot of people with a shoe size 1/2 size smaller than the other. This is the solution. Users are able to browse this shoe catelog and find matching users with the opposite foot size. From there they can message each other and began to buy shoes together.<br><em>Still in Development</em>
              </li>
              <li><a href="https://solemate-demo.herokuapp.com/" class="project-link">https://solemate-demo.herokuapp.com/</a></li>
              <li>Stack:</li>
              <li>angular, express, node, mongo, mongoose, html, css, javascript, heroku</li>
            </ul>
          </div>
        </div>
        <!-- project  atcon -->
        <div class="col-sm-4 project-container">
          <div class="row media">
            <a href="" class="project-link">
              <div class="media-left">
                <img src="../img/projects/atcon/atCon-screenshot.jpg" alt="logo image" class="project-img media-object">
                <div class="project-title">atCon</div>
            </a>
          </div>
          <div class="row">
            <ul class="project-li-end">
              <li>An event planning application built with a RESTful API and Ruby on Rails. We use Amazon Web Services S3 to store photos. This is application was created to help conference goers make one off events for specific conferences. The premise is that your in town for a conference and atCon is a central place to post events such as looking to catch dinner after the conference, or who wants to have a meet up to discuss new tech.</li>
              <li><a href="https://atcon.herokuapp.com/">https://atcon.herokuapp.com/</a></li>
              <li>Stack:</li>
              <li>html, css, javascript, jquery, ruby, rails, postgresql, heroku</li>
            </ul>
          </div>
        </div>

        </div>
      </div><!-- end project row -->
      <div class="row project-row">
        <div class="col-sm-10 col-sm-offset-1">
          <!-- project enrollment -->
          <div class="col-sm-4 project-container">
            <div class="row media">
              <div class="media-left">
                <a href="https://enrollment-data.herokuapp.com/" class="project-link">
                  <img src="../img/projects/enrollment/enrollment-screenshot.jpg" alt="logo image" class="project-img media-object">
                  <div class="project-title">Enrollment</div>
                </a>
              </div>
            </div>
            <div class="row">
              <ul class="project-li">
                <li>This is a demo project showcasing mulitiple data visualizations using C3/D3. Each page has a different data viz ranging from animated line graphs, bar charts, pie charts and small multiples.
                </li>
                <li><a href="https://enrollment-data.herokuapp.com/" class="project-link">https://enrollment-data.herokuapp.com/</a></li>
                <li>Stack:</li>
                <li>c3, d3, express, node, html, css, javascript, jquery, heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end project row -->
    </div>
  </div>
  <script src="../js/jquery-2.1.4.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>
